.curren {
    position: relative;
    color: #2196f3;
  }
  
  .curren::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    bottom: 2px;
    left: 0;
  }