.header {
    border-bottom: 1px solid #ececec;
}

.top-navigation {
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
}

.list-contakts {
    display: flex;
    margin-left: auto;

    &__header-contakt {
        display: flex;
        flex-direction: column;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: #757575;
    }

    &__header-svg {
        margin-right: 10px;
        fill: currentColor;
    }
}

.list-contakts > .list-contakts__item {
    margin-left: 50px;
}