.our-customers {
    @media screen and (min-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.our-customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    &__customers-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__customers-svg {
        fill: #afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: #2196f3;
        }
    }
}

.our-customers-list > .our-customers-list__item {
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #afb1b8;

    padding: 16px 32px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 180px) / 6);
    }
}

.our-customers-list > .our-customers-list__item:hover,
.our-customers-list > .our-customers-list__item:focus {
    border-color: #2196f3;
    cursor: pointer;
}